<!DOCTYPE html>
<html lang="en">
<head>
    <title>ECSDI Amazon</title>
    <meta charset="utf-8">
</head>
<body>
    <h2>Facturas:</h2>
    <hr>
    {% for factura in facturas %}
    <div>
        <b>Identificador de compra</b>: {{ factura.id_compra }}<br>
        <b>Identificador de usuario</b>: {{ factura.id_usuario}}<br>
        <b>Direccion</b>: {{ factura.direccion }}<br>
        <br>
        <b>Productos comprados</b>:<br>
        <table border="1px">
            <tr>
                <th><b>Nombre</b></th>
                <th><b>Marca</b></th>
                <th><b>Precio</b></th>
            </tr>
            {% for producto in factura.productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.tieneMarca }}</td>
                <td>{{ producto.precio }}€</td>
            </tr>
            {% endfor %}
        </table>
        {% if factura.prioridad_envio > 0 %}
            Extra envio en 1 día: 10€<br>
        {% endif %}
        <br>
        <b>Precio total</b>: {{ factura.precio_total }}€<br>
        <b>Fecha de recepción</b>: {{ factura.fecha_recepcion }}<br>
        <b>Transportista</b>: {{ factura.transportista }}<br>
    </div>
    <hr>
    {% endfor %}
    <div>
        <a href="http://127.0.1.1:9001">Volver</a>
    </div>
</body>