<!DOCTYPE html>
<html lang="en">
<head>
    <title>ECSDI Amazon</title>
    <meta charset="utf-8">
</head>
<body>
    <hr>
    <div>
        <a href="http://127.0.1.1:9001/factura">Facturas</a> | <a href="http://127.0.1.1:9001/buscarProductosUsuario">Devoluciones</a>
    </div>
    <hr>
    <div>
        <h2>Buscar productos</h2>
        <form method="POST" action="/">
            <label>
                Precio mínimo:<br>
                <input name="min_precio" type="number" placeholder="0"> €
            </label><br>
            <label>
                Precio máximo:<br>
                <input name="max_precio" type="number"> €
            </label><br>
            <label>
                Nombre:<br>
                <input name="nombre" type="text" placeholder="nombre_KELHLL">
            </label><br>
            <label>
                Marca:<br>
                <input name="marca" type="text" placeholder="Ex: Marca_Blender_OTS3VZ">
            </label><br>
            <label>
                Tipo:<br>
                <input name="tipo" type="text" placeholder="Ex: Blender">
            </label><br>
            <button type="submit">Buscar</button>
        </form>
    </div>
    <br>
    <hr>
    <div>
        <h2>Compra</h2>
        <form method="POST" action="/comprar">
            <label>
                Dirección de envío:<br>
                <input name="direccion" type="text" required>
            </label><br>
            <label>
                Codigo postal:<br>
                <input name="codigo_postal" type="text" required>
            </label><br>
            <label>
                Identificador de usuario:<br>
                <input name="id_usuario" type="text" required>
            </label><br>
            <label>
                Targeta bancaria:<br>
                <input name="tarjeta_bancaria" type="text" required>
            </label>
            <div>
                Prioridad de entrega:<br>
                <label>
                    <input name="prioridad" type="radio" value="1" required>
                    Envío en 1 día <i>(+10€)</i>
                </label><br>
                <label>
                    <input name="prioridad" type="radio" value="0" required>
                    Sin prioridad
                </label>
            </div>
            <br>
            <table border="1px">
                <tr>
                    <th><b>Nombre</b></th>
                    <th><b>Marca</b></th>
                    <th><b>Tipo</b></th>
                    <th><b>Precio</b></th>
                    <th><b>Peso</b></th>
                    <th><b>Selección</b></th>
                </tr>
                {% for product in productos %}
                <tr>
                    <td>{{ product.nombre }}</td>
                    <td>{{ product.tieneMarca }}</td>
                    <td>{{ product.tipo }}</td>
                    <td>{{ product.precio }}€</td>
                    <td>{{ product.peso }}g</td>
                    <td><input type="checkbox" name="nombre" value="{{ product.nombre }}"></td>
                </tr>
                {% endfor %}
            </table>
            <div>
                <button type="submit">Comprar</button>
            </div>
        </form>
        <h2>Pedir feedback</h2>
        <br>
        <form method="POST" action="/feedback">
            <label>
                Identificador de usuario:<br>
                <input name="id_usuario" type="text" required>
            </label><br>
            <button type="submit">Feedback</button>
        </form>
        <br>
        <form method="POST" action="/enviar_feedback">
            <table border="1px">
                <tr>
                    <th><b>Nombre</b></th>
                    <th><b>Puntuacion (0-10)</b></th>
                </tr>
                {% for product in productos_usuario %}
                <tr>
                    <td>{{ product.nombre }}</td>
                    <td><input name="valoracion" type="text" required></td>
                    <input type="hidden" name="nombre" value="{{ product.nombre }}"></td>
                </tr>
                {% endfor %}
            </table>
            <div>
                <button type="submit">Enviar feedback</button>
            </div>
        </form>
    </div>
</body>