<!DOCTYPE html>
<html lang="en">
<head>
    <title>ECSDI Amazon</title>
    <meta charset="utf-8">
</head>
<body>
    <div>
        <h2>Tienda Externa</h2>
        <h3>Petición para añadir producto</h3>
        <form method="POST" action="/">
            <label>
                Nombre Tienda:<br>
                <input name="nombre_tienda" type="text" placeholder="AmazonSelvice" required> 
            </label><br>
            <label>
                Nombre Producto:<br>
                <input name="nombre_producto" type="text" placeholder="nombre_Shrek" required> 
            </label><br>
            <label>
                Precio:<br>
                <input name="precio_producto" type="number" placeholder="35" required> €
            </label><br>
            <label>
                Peso:<br>
                <input name="peso_producto" type="number" placeholder="450" required> g
            </label><br>
            <label>
                Marca:<br>
                <input name="marca" type="text" placeholder="Ex: Marca_Blender_OTS3VZ" required>
            </label><br>
            <label>
                Tipo:<br>
                <input name="tipo" type="text" placeholder="Ex: Blender" required>
            </label><br>
            <label>
                Cuenta Bancaria::<br>
                <input name="cuenta_bancaria" type="number" placeholder="854639" required>
            </label><br>
            <button type="submit">Enviar Petición</button>
        </form>
    </div>
    <div>{{respuesta}}</div>
</body>